/* MAIN */

body {margin: auto; padding: 0px; background-attachment: fixed; text-align:center;
      font-family: Calibri; color: #6699FF; font-size: 11pt; }
.centerTable {margin: auto;}
table { margin:0px; padding:0px; border:0px solid #ccc; color:inherit; table-layout:fixed; overflow:visible; white-space:wrap;}
tbody, tr, td { table-layout:fixed; vertical-align:middle !important; }
//tr, td { border:1px solid #ccc;}
img { border:none; text-decoration: none; }
a { color: #4B4B4B; text-decoration: none; }

h3 { font-family: Calibri; color: #5588EE; font-size: 11pt; font-weight: bold; margin: auto; padding-bottom: 2px; padding-top: 4px;}
h4, h4 table { font-family: Calibri; color: #6699FF; font-size: 10pt; margin: auto; }
.sizefont, .sizefont table { margin: auto; font-family: Calibri; color: 6699FF; font-size: 11pt; text-align:center; }

input[type=button] { margin-top: 15px; }

#main {width: 780px; height: 550px; }
#left, #right, #center {width: inherit; height: inherit; }

#pumponDiv {
    //position: absolute;
    //z-index: 50;
    //top: 20px;
}

.section { width: 130px; height: 110px; text-align:center; }
.bigsection { height: 440px; text-align:center; }
.longsection { height: 437px; text-align:center; }

.mainWindow { margin:0px; padding:0px; border:0px; }

.color { width: 130px; height:20px; }

.bgBigLeft { margin-top:30px; margin-bottom:30px; width: 2px; height: 378px; 
             background-image:url(../images/bgbig.gif); background-repeat: no-repeat; background-position:left; }
.bgBigRight { margin-top:30px; margin-bottom:30px; width: 2px; height: 378px; 
              background-image:url(../images/bgbig.gif); background-repeat: no-repeat; background-position:right; }
.bgBigBottom { margin-left:30px; margin-right:30px; width: 456px; height: 2px; 
               background-image:url(../images/bgbig.gif); background-repeat: repeat-x; background-position:bottom; }

.bgSmallBottom { margin-left:20px; margin-right:20px; width: 90px; height: 2px; 
                 background-image:url(../images/bgbig.gif); background-repeat: repeat-x; background-position:bottom; }
.bgSmallTop { margin-left:20px; margin-right:20px; width: 90px; height: 2px; vertical-align:top;
              background-image:url(../images/bgbig.gif); background-repeat: repeat-x; background-position:top; }
.bgSmallRight { margin-top:20px; margin-bottom:20px; width: 2px; height: 70px;
                background-image:url(../images/bgbig.gif); background-repeat: no-repeat; background-position:right; }
.bgSmallLeft { margin-top:20px; margin-bottom:20px; width: 2px; height: 70px; 
                background-image:url(../images/bgbig.gif); background-repeat: no-repeat; background-position:left; }

.div150wide { width:130px; height:108px; }
.div148wide { width:128px; height:108px; }
.div146wide { width:126px; height:108px; }
