<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<item name="CONTROL_PANEL_CONFIGURATION">xml/config.xml</item>

	<item name="USER_DATA">data/users.xml</item>

	<item name="SERVER_TEST">actions/check_requirements.php</item>

	<item name="MEDIA_LIBRARY">xml/mediaLibrary.xml</item>

	<item name="LANGUAGES_LIBRARY">xml/languages.xml</item>

	<item name="LANGUAGES_LOCATION">language</item>

	<item name="LANGUAGE_TEXTS">language.xml</item>

	<item name="TEMPLATE_LOCATION" description=""><![CDATA[/motocms/website_example/]]></item>

	<item name="TEMPLATE_CONFIGURATION">../config.xml</item>

	<item name="MODULES_LIBRARY">xml/modules.xml</item>

	<item name="FILE_UPLOAD_SCRIPT">actions/upload_media.php</item>

	<item name="FONTS_UPLOAD_SCRIPT">actions/upload_fonts.php</item>
	
	<item name="BACKUP_SCRIPT">actions/backup/</item>

	<item name="WEBSITE_URL" description=""><![CDATA[c-m84a-1.azar-a.net/motocms/website_example]]></item>

	<item name="CONTROL_PANEL_ASSETS">xml/assets.xml</item>

	<item name="DEMO_MODE">false</item>
	
	<item name="REBRANDING_ENABLED">false</item>
	
	<item name="DEVELOPER_MODE">true</item>

	<item name="GOOGLE_ANALYTICS_URI"><![CDATA[http://www.google.com/analytics/]]></item>

	<item name="GOOGLE_WEBMASTER_TOOLS_URI"><![CDATA[http://www.google.com/webmasters/tools/]]></item>

	<item name="ONLINE_FONT_CREATOR_URI"><![CDATA[http://www.cms-guide.com/online-font-creator/]]></item>
	
	<item name="CMS_HELP_URI"><![CDATA[http://cms-guide.com/]]></item>

	<item name="CMS_ACCOUNTS_URI"><![CDATA[http://accounts.cms-guide.com/]]></item>

	<item name="THUMBNAILS_ENABLED"><![CDATA[true]]></item>

	<item name="THUMBNAIL_MAX_WIDTH"><![CDATA[260]]></item>

	<item name="THUMBNAIL_MAX_HEIGHT"><![CDATA[240]]></item>

	<item name="THUMBNAIL_JPG_QUALITY"><![CDATA[80]]></item>

	<item name="CONTROL_PANEL_VERSION"><![CDATA[1.6]]></item>
	
	<item name="YOUTUBE_API_SERVICE"><![CDATA[http://gdata.youtube.com/feeds/api/videos/]]></item>
	
	<item name="YOUTUBE_DEVELOPER_KEY"><![CDATA[AI39si5MIF2-qu9oS8PsvXLI6-ZiHjNFRQLonRgnKwTF2IeAZ1DxhtPY9CQxaQNtD9XFxUrd4oA1BJ2QwhIxI38Rv1ryzADylw]]></item>
	
	<item name="BACKUP_AUTO_MODE"><![CDATA[true]]></item>

</configuration>
