<?xml version="1.0" encoding="utf-8"?>
<motoConfig>
	<configuration>
		<option name="startPage" description=""><![CDATA[1]]></option>
		<option name="websiteTitlePrefix" description=""><![CDATA[Media - ]]></option>
		<option name="showWarnings" description=""><![CDATA[]]></option>
		<option name="googleAnalyticsEnabled" description=""><![CDATA[false]]></option>
		<option name="googleAnalyticsSWFTrackerEnabled" description=""><![CDATA[false]]></option>
		<option name="googleAnalyticsAccount" description=""><![CDATA[]]></option>
		<option name="googleWebmasterToolsEnabled" description=""><![CDATA[false]]></option>
		<option name="googleWebmasterToolsMetaTag" description=""><![CDATA[]]></option>
		<option name="googleWebmasterToolsFileName" description=""><![CDATA[]]></option>
		<option name="websiteIcon" description=""><![CDATA[]]></option>
		<option name="underConstruction" description=""><![CDATA[false]]></option>
		<option name="underConstructionTheme" description=""><![CDATA[]]></option>
		<option name="underConstructionMessage" description=""><![CDATA[]]></option>
		<option name="loadEncodedData"><![CDATA[false]]></option>
		<option name="enableCompatibilityMode" description=""><![CDATA[false]]></option>
		<option name="websiteProtectionSessionExpireTime"><![CDATA[3600]]></option>
		<option name="websiteProtectionEnabled"><![CDATA[false]]></option>
		<option name="websiteProtectionKey"><![CDATA[]]></option>
	</configuration>
</motoConfig>
