body {
	margin:0;
	padding:0;
	background:#ffffff;
	font-family:Tahoma;
	color:#ffffff;
	font-size:10px;
	text-align:center;
}

a {
	color:#cccccc;
}

a:hover {
	text-decoration:none;
}

#container
{
	width: 100%;
	height: 100%;
}
html { height:100%; }

body { height:100%; }
